.browse {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(167, 232, 189, 0.8),
      rgba(167, 232, 189, 0.8)
    ),
    url(../images/recipe-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: row;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: $caveat;

  .header-holder {
    display: block;
    width: 75%;
    align-items: left;
    justify-content: left;
    margin-top: 150px;
    h1 {
      font-family: $caveat;
      text-align: left;
      margin-left: 15%;
    }
  }

  .recipe-list-holder {
    width: 80%;
    margin-left: 10%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;

    .recipe {
      display: flex;
      flex-direction: row;
      padding: 50px;

      .recipe-button {
        margin-top: 100px;
        margin-left: 50px;
        margin-right: 50px;
        background-color: $yellow;
        border-radius: 26px;
        padding: 16px 50px;
        font-size: 25px;
        text-decoration: none;
        border-bottom: 2px solid;

        &:hover {
          border-bottom: 3px solid;
        }
        a {
          text-decoration: none;
          color: black;
        }
      }

      .recipe-image {
        width: 300px;
        height: 263px;
        background-color: $l-pink;
        border-radius: 20px;
      }

      .recipe-info {
        width: 224px;
        height: 263px;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;

        h2 {
          margin-top: 20%;
          margin-left: 50px;
          margin-right: 50px;
          font-size: 15px;
          font-family: $lato;
          border-bottom: 2px solid;
          border-width: 80%;
          padding: 3px;
        }

        p {
          margin-left: 50px;
          margin-right: 50px;
          font-size: 9px;
          font-family: $lato;
        }

        .time-serv {
          font-size: 9px;
          font-family: $lato;
          margin-left: 50px;
          margin-right: 50px;
          display: flex;
          flex-direction: row;
          width: 100px;
          justify-content: space-around;
        }

        .serv {
          margin-top: 15px;
        }
      }
    }
  }
}
